

.layer2Bg{
    background-color: rgb(170, 210, 230);
}

.layer2Content{
    padding-top: 2em;
    padding-bottom: 2em;
}

.layer2Heading{
    font-size:2em;
    text-align:center;
    color: black;
    margin: 0.5em 1em 1.5em 1em;
    font-family: sans-serif;
}

.layer2InfoContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 2.5em;
    flex-wrap: wrap;
}

.dakgalbiContainer, .chopSueyContainer, .honeyGarlicContainer, .tinolaContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0px;
}

.dakgalbiPic, .chopSueyPic, .honeyGarlicPic, .tinolaPic{
    float: left;
    width: 300px;
    height: 300px;
    object-fit: cover;
    justify-content: center;
    gap: 10px;
    border-radius: 0.5em;

}

.dakgalbiSubtext, .chopSueySubtext, .honeyGarlicSubtext, .tinolaSubtext{
    text-align: center;
    color:black;
    font-size: 2em;
    font-family: serif;
    z-index: 2;
}

.layer3{
    background-color: rgb(131, 197, 235);
}

.layer3Bg{
    padding-top: 2em;
    padding-bottom: 2em;
}

.layer3text{
    display:flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    letter-spacing: 0.1em;
    font-family: serif;
}

.layer3quote{
    font-size:2em;
    text-align: center;
    font-style: italic;
    margin-top: 3em;
}

.layer3quotefrom{
    text-align: right;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 2em;
}

.layer4{
    background-color:cadetblue;
}

.layer4Bg{
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: center;
}

.layer4Content{
    background-color: darkgray;
    width: 60em;
    padding: 2em 0;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

.layer4text{
    display:flex;
    flex-direction: column;
    justify-content: left;
    color: white;
    padding: 0 2emm 0 4em;
    line-height: 1.3em;
}

.layer4TextHeading{
    font-size: 1.1em;
    font-family: serif;
    font-weight: bold;
}

.layer4Subtext{
    margin-top: 3px;
}

.layer4ContactContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5em 0 3em;
}


